body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
  font-size: 40px;
}
p{
  color: dimgray;
}
.coral-highlight{
    color: coral;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 4%;
  padding-top: 30px;
  padding-left: 70px;
}

.big-dream{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  padding-top: 20px;
}



.half-width img{
  width: 100%;  
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  padding-top: 50px;
}
section{
  height: 500px;
  padding-bottom: 150px;  
}
.link-button{
  text-decoration: none;
  background-image: -webkit-linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}
.dream-area{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.text{
  text-align: left;
  color: dimgray;
}

.single-experiences{
  box-shadow: 10px 10px 40px rgb(70, 69, 69);
  border-radius: 10px;
  height: 60%;
  
}
.experiences-area{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 80px;

}

#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  
}
#baby-web{
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
.footer-text{
 text-align: center;
 text-decoration: none;
}